.download-button {
    cursor: pointer;
    background-color: rgb(0 163 255);
    align-self: center;
    text-align: center;
    padding: 10px 20px 10px 20px ;
    border-radius: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;

}


.download-button:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.download-button:active {
    background-color: rgb(2, 144, 227);
    box-shadow: none;
}
